<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Form and Script Controls</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
  </head>
  <body>
    <div class="main bg-white">
      <div class="container">
        <form id="data-form">
          <div class="uid">
            <h3>UID</h3>
            <input id="getuid" type="text" name="uid" required />
          </div>
          <div class="data">
            <h3>Data</h3>
            <input id="getrollno" type="text" name="data" required />
          </div>
          <div class="submit">
            <input type="submit" value="Submit" onclick="postData()" />
          </div>
        </form>
      </div>
      <div class="scriptcont">
        <div class="write">
          <h3>Keystroke Mode</h3>
          <button id="start-write" onclick="keystrokeData(1)">Start</button>
          <button id="stop-write" disabled onclick="keystrokeData(0)">Stop</button>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>

  </body>
</html> -->

<!-- New Design -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Form and Script Controls</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="min-h-screen lg:overflow-y-hidden">
    <div class="min-h-screen flex flex-col bg-[#EDF1F7]">
      <nav
        class="bg-[#FFFFFF] drop-shadow-md"
      >
      <div
      class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
        <div class="kjc flex">
          <img src="{{url_for('static',filename='res/KJCLogo.png')}}" />
          <p class="ml-3">Kristu Jayanti College (Autonomous)</p>
        </div>
        <div class="att mr-72 text-center">
          <h1 class="font-semibold">Attendance</h1>
        </div>
        <div class="log">
          <button class="bg-[#3E8ED0] text-white p-1 w-20 rounded-2xl">
            Login
          </button>
        </div>
      </nav>
      <div class="grid grid-flow-col grid-cols-2">
        <div class="rhead m-28 w-2/3">
          <h1 class="text-3xl m-3 font-semibold">Attendance</h1>
          <h1 class="text-3xl text-[#3E8ED0] m-3 font-semibold">
            for your event
          </h1>
          <p class="text-sm m-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque?
          </p>
        </div>
        <div class="main my-28 ml-32">
          <nav
            class="bg-[#3E8ED0] text-white text-l w-2/3 p-1 rounded-t-md pl-4"
          >
            Key Stroke Mode
          </nav>
          <div
            class="buttons bg-[#E8F1FE] w-2/3 h-36 p-2 flex justify-evenly border-2 border-[#3E8ED0] rounded-b-md"
          >
            <button class="bg-[#3E8ED0] h-10 my-10 w-28 text-white rounded-md">
              Start
            </button>
            <button class="bg-[#3E8ED0] h-10 my-10 w-28 text-white rounded-md">
              Stop
            </button>
          </div>
        </div>
      </div>
      <img
        src="{{url_for('static',filename='res/homeEllipse.png')}}"
        alt=""
        srcset=""
        class="z-0 lg:ml-44"
      />
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </body>
</html>
