<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IOT HMS Instuctions</title>
    <link rel="icon" type="image/png" href="../static/images/Symbol.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style2.css">
</head>

<body>

    <div class="nav">
        <div class="left-nav">
            <img src="../static/images/Symbol.png" alt="">
        </div>
        <div class="right-nav">
            <a href="login.html?action=login">
                <ul>Login</ul>
            </a>
            <a href="login.html?action=signup">
                <ul>Sign up</ul>
            </a>

        </div>
    </div>

    <div class="card">
        <div class="card__image">
            <img src="../static/images/card.png" alt="Health Image">
        </div>
        <div class="card__content">
            <div class="Sys_img">
                <img src="../static/images/Symbol.png" alt="">
            </div>
            <div class="card-left">
                <p class="card__title">How to Use the App</p>
                <ul class="card__description">
                    <li><span class="icon">💻</span> <strong>Login</strong> to access your account.</li>
                    <li><span class="icon">📝</span> Click <strong>Sign up</strong> if you're new.</li>
                    <li><span class="icon">📊</span> Start monitoring your health data once logged in.</li>
                    <li><span class="icon">📞</span> Contact support through the app for help.</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="pop-container" id="signIn">
        <div id="close"><i class="fa-solid fa-xmark"></i></div>
        <h1 class="form-title">Sign In</h1>
        <form method="post" action="">
            <div id="signInMessage" class="messageDiv" style="display:none;"></div>

            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input type="email" id="email" placeholder="Email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" placeholder="Password" required>
                <label for="password">Password</label>
            </div>
            <p class="recover">
                <a href="#">Recover Password</a>
            </p>
            <button class="btn" id="submitSignIn">Sign In</button>
        </form>
        <p class="or">
            ----------or--------
        </p>
        <div class="icons">
            <i class="fab fa-google"></i>
            <i class="fab fa-facebook"></i>
        </div>
        <div class="links">
            <p>Don't have account yet?</p>
            <a href="login.html?action=signup"><button id="signUpButton">Sign Up</button></a>
        </div>
    </div>
    <script>
        function close_popup() {
            document.getElementById('signIn').style.display = 'none';
        }
        function display_ins_sec() {
            document.getElementById('signIn').style.display = 'block';
        }

        setTimeout(function () {
            display_ins_sec();
            setInterval(display_ins_sec, 25000);
        }, 5000);

        document.getElementById('close').onclick = function () {
            close_popup();
        };

        window.onclick = function(event) {
            if (event.target == document.getElementById("loginModal")) {
                hideLoginModal();
            }
        }

    </script>

</body>

</html>
