<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Form and Script Controls</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body class="min-h-screen lg:overflow-y-hidden">
    <div class="min-h-screen flex flex-col bg-[#EDF1F7]">
      <nav class="bg-[#FFFFFF] md:drop-shadow-md p-2 z-20 xl:h-16 xl:p-4">
      <div class="flex flex-auto justify-between items-center ">
        <div class="kjc flex">
          <img src="{{url_for('static',filename='res/KJCLogo.png')}}"/>
          <p class="ml-3 hidden md:flex xl:text-lg">Kristu Jayanti College </p>
        </div>
        <div class="att text-center">
          <h1 class="font-semibold md:text-center xl:text-lg">Attendance</h1>
        </div>
        <div class="log flex">
          <div class="mx-4 my-1 hidden md:flex ">
            <a href="http://127.0.0.1:5000/" class="mx-2 text-[#3E8ED0] font-semibold" id="nav-home">HOME</a>
            <a href="http://127.0.0.1:5000/map" class="mx-2 text-[#3E8ED0] font-semibold" id="nav-map">UID MAPPING</a>
            <a href="http://127.0.0.1:5000/crud" id="crudBtn" class="mx-2 text-[#3E8ED0] font-semibold">CRUD</a>
          </div>
          <button class="bg-[#3E8ED0] text-white p-1 w-20 rounded-2xl " id="loginpopupbtn">
            Login
          </button>
        </div>
      </nav>
      <nav class="bg-white drop-shadow-md p-2 z-10 flex justify-center -my-2 md:hidden">
        <div class="mx-4 my-1">
          <a href="http://127.0.0.1:5000/" class="mx-2 text-[#3E8ED0] font-semibold" id="nav-home-1">HOME</a>
          <a href="http://127.0.0.1:5000/map" class="mx-2 text-[#3E8ED0] font-semibold" id="nav-map-1">UID MAPPING</a>
          <a href="http://127.0.0.1:5000/crud" id="crudBtn" class="mx-2 text-[#3E8ED0] font-semibold">CRUD</a>
        </div>
      </nav>
      <div class="popup min-h-screen hidden z-20 bg-[#EDF1F7]">
        <div class="absolute -ml-40 -mt-40 bg-white w-72 h-72  top-1/2 left-1/2  drop-shadow-xl  p-2 rounded-lg ease-in-out duration-300">
          <button class="bg-[#127FBF] rounded-full right-2 absolute h-6 w-6 text-white font-semibold" id="loginclbtn">&times;</button>
          <div class="p-2">
            <h1 class="text-[#127FBF] text-xl font-bold my-2">Login</h1>
            <p class="my-2">Email</p>
            <input type="text" value="" placeholder="abc@gmail.com" class="bg-[#F0F4F8] p-1 w-64 text-l border-none outline-none rounded-md my-2">
            <p class="my-2">Password</p>
            <input type="text" value="" placeholder="***********" class="bg-[#F0F4F8] p-1 w-64 text-l border-none outline-none rounded-md my-2" >
            <button class="bg-[#127FBF] p-1 w-64 my-2 rounded-md text-white ">Login</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col min-h-screen z-10 md:grid md:grid-flow-col md:grid-cols-2">
        <div class="rhead mt-8 mx-10 w-2/3 md:my-36 md:mx-24 xl:my-44 xl:mx-32">
          <h1 class="text-3xl font-semibold xl:text-5xl xl:m-4">Attendance</h1>
          <h1 class="text-3xl text-[#3E8ED0] font-semibold xl:text-5xl xl:m-4">for your event</h1>
          <p class="text-sm xl:text-lg xl:m-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet,
            itaque accusantium odio, soluta, corrupti aliquam quibusdam tempora
            at cupiditate quis eum maiores libero veritatis? Dicta facilis sint
            aliquid ipsum atque?
          </p>
        </div>
        <div class="main my-8 ml-5 md:my-36 xl:my-44 ">
          <nav class="bg-[#3E8ED0] text-white text-l w-11/12 p-1 rounded-t-md pl-4 xl:p-4 xl:text-2xl ">
            UID Mapping
          </nav>
          <div class="relative buttons bg-[#E8F1FE] w-11/12 h-52 p-2 flex-col justify-evenly border-2 border-[#3E8ED0] rounded-b-md xl:h-72 xl:p-4">
            <div class="flex m-5 xl:m-8">
              <p class="text-[#3E8ED0] text-md mr-9 font-semibold xl:text-xl">UID No.</p>
              <input type="text" name="" id="getuid" class="w-5/6 h-8 xl:h-10">
            </div>
            <div class="flex m-5 xl:m-8">
              <p class="text-[#3E8ED0] text-lg mr-6 font-semibold xl:text-xl">Number</p>
              <input type="text" name="" id="getrollno" class="w-5/6 h-8 xl:h-10 xl:ml-2">
            </div>
            <button class="absolute bottom-3 right-5 bg-[#127FBF] p-2 rounded-md text-white btn xl:p-3 xl:w-28 xl:right-16" id="submitBtn" onclick="postData()">Submit</button>
          </div>
        </div>
      </div>
      <div class="img">
        <img src="{{url_for('static',filename='res/homeEllipse.png')}}" alt="" srcset=""/>
      </div>
    </div>
    <script src="{{url_for('static', filename='map.js')}}"></script>
    <script>
      document.getElementById("loginpopupbtn").addEventListener("click",function(){
        document.querySelector(".popup").style.display = "flex"
      })

      document.getElementById("loginclbtn").addEventListener("click",function(){
        document.querySelector(".popup").style.display = "none"
      })
    </script>
  </body>
</html>
