<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="heading">
            <h1>Test Website</h1>
        </div>
        <div class="dashboard">
            <a href="">Home</a>
            <a href="">Add</a>
            <a href="">Edit</a>
            <a href="">Remove</a>
        </div>
        <script src="" async defer></script>
    </body>
</html>